<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;900&family=Lato:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Lato:wght@300;400;700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <body>
        <div id="header-component">
            <header-component></header-component>
        </div>

    <div class="blog__details">
        <img src="images/Banner1.jpg" alt="blog details">

        
    </div>


        <div id="app">
            <articles></articles>
          </div>


      
       
                
       

    
            
       


        



        <div id="footer-component">
            <footer-component></footer-component>
        </div>



        <script src="components/header.js"></script>
        <script src="components/footer.js"></script>
        <script src="components/article.js"></script>
    </body>

</html>